h1{
    color:green;
    font-size:5em;
    text-align: center;
}
h2{
    font-weight: bold;
}
hr{
    width:100%;
    text-align:left; 
    margin-left:0;
    margin-top: 0;
    margin-bottom: 0;
    border-color:black; 
    color:black;
    background-color:black; 
}
/*.navbar-toggler{
    position:fixed;
    float:right;
    display:block;
}*/
#nav-link{
    color:red;
}
body{
    background-color: white;
}
.blurb{
    height: 90vh;
    scroll-snap-align: top
}
.blurb>p{
    font-size: 2em;
}
.resume{
    height: 90vh;
    scroll-snap-align: top
}
.cards{
    display: grid;
    row-gap: 30px;
    column-gap:70px;
    grid-template-columns: 250px auto auto;
}
.cards>h2{
    align-self: center;
}

.card{
    width:400px;
    height:230px;
}
#prof-card1{
    grid-column:2;
    grid-row:1
}
#prof-card2{
    grid-column:3;
    grid-row:1
}

.btn{
    float:left;
    display:inline;
    margin-left:2px;
    right:0%;
}
.form-control{
    float:left;
}

.form-inline{
    display:inline-flex;
}
#content{
    background-color:white;
    margin-top: 8%;
    margin-left: 8%;
    margin-right:8%;
    padding-right:4%;
    padding-left:4%;
    position:absolute;
    height:100%;
    width:75%;
    scroll-snap-type: y proximity;
}
.nav-item{
    margin-right:40px;
}
.nav-link{
    color:black;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    width:200%;
    max-height : 100px;
}
.d-block{
    width:40%;
}
#search-form{
    display:none;
}
#lang-select{
    color:grey;
    list-style: none;
    right:2%;
    position:relative;
    display:inline-block;
}
.container-fluid{
    position: -webkit-sticky; /* Safari */
    position:fixed;
    z-index: 2000;
    background-color: white;
    height:fit-content;
}
nav{
    display:flex;
    font-size:2em;
    background-color: white;
    height:10vh;
}
#lang-decoy{
    opacity:0;
}



#carouselExampleIndicators{
    position:relative;
}
.carousel>.carousel-control-prev,
.carousel>.carousel-control-next{
    width:40px;
    height:40px;
    border-radius: 90%;
    position:absolute;
    top:40%;

}


.carousel:hover>.carousel-control-prev,
.carousel:hover>.carousel-control-next{
    background-color: grey;
    opacity:80%;
    transition:background-color 1.1s;
}

#img-slides{
    height: 300px;
    object-fit:cover;
}
.slide-desc{
    position:absolute;
    opacity:0%;
    background-color:grey;
    color:white;
    padding-left:25px;
    padding-bottom:5px;
    bottom:0px;
    width:100%;
    height:fit-content;
}

.carousel:hover>.carousel-inner>.carousel-item>.slide-desc{
    opacity:90%;
    transition:opacity 1.1s;
}
ul{
    padding-left:0;
}

/*projects.html*/

.project-box{
    margin-top:15px;
    border:solid lightgrey 0.3px;
    display: flex;
    height:120px;
}

.project-box>img{
    display: inline-block;
    height:100%;
    max-height:inherit;
    width:110px;
    max-width: 100px;
    min-width:100px;
    position:relative;
    margin-bottom:8px;
}

.project-box>div{
    vertical-align: middle;
    display: inline;
    width:95%;
    min-width:60%;
    max-width:89%;
    overflow:hidden;
    word-break: break-all;
    margin-top:20px;
    margin-left:10px;
    word-break:break-word;
}
.project-link{
    color:black;
    text-decoration: none;
}
#home-not-current{ /*to style the header for the current page when it is not the home page*/
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: grey;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#navbar-current{
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    margin-right:0px;
}

#collapse-current{
    display:none;
}
/*project box hover*/

.project-box:hover{
    /*background-image: linear-gradient(to right,red,white,white,white);*/
    background-color: rgb(190, 88, 88);
    color:white;
    font-size: 16px;
    transition-duration: 600ms;
    transform: scale(1.01,1.015);
    transform-origin:center;
    
}
.project-box:hover>img{
    height:100%;

    transition-duration: 600ms;
}

.text-truncate{ /*adds elipses after 4 lines of text*/
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #content {
    width: 100%;
    height:100%;
    margin-left:0;
    margin-right:0;
    margin-top:10vh;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img{
    width:100%;
    max-height : 50px;
    }
    #collapse-current{
        display:flex;
    }
    .project-box{
        margin-top:15px;
        border:solid lightgrey 0.3px;
        display: flex;
        height:120px;
    }
    
    .project-box>img{
        display: inline-block;
        height:100%;
        max-height:inherit;
        width:100px;
        max-width: 100px;
        min-width:100px;
        position:relative;
        margin-bottom:8px;
    }
    
    .project-box>div{
        opacity:100;
    }
    p{
        font-size: 1.5em !important;
    }
}