html{
    scroll-snap-type: y proximity;
    
}
.section{
    padding-left:2%;
    padding-right:2%;
}
h1{
    color:rgb(129, 129, 129);
    font-size:4.8em;
    text-align: left;
}
h2{
    color:rgb(129, 129, 129);
    font-weight: bold;
}
.intro-box{
    width:960px;
    height:100%;
    padding-top:3%;
    padding-bottom: 5%;
    margin-left: 15%;
    font-family:'Times New Roman', Times, serif;
    display:inline-block;
}
.intro-box>h1{
    margin-top: 10%;
    font-family:'Times New Roman', Times, serif;
}
.intro-box>p{
    font-size: larger;
}
.intro-box>img{
    width:60%;
    min-width: 350px;
    height:100%;
    min-height: 530px;
    float:right;
    top:30%;
}
hr{
    width:100%;
    text-align:left; 
    margin-left:0;
    margin-top: 0;
    margin-bottom: 0;
    border-color:black; 
    color:black;
    background-color:black; 
}
/*.navbar-toggler{
    position:fixed;
    float:right;
    display:block;
}*/
.navbar{
    padding-top:0px;
    padding-bottom:0px;
    background-color: rgb(129, 129, 129);
}
.navbar-nav{
    height:100%;
}
.nav-item > a > hr{
    display:none;
    height:3px;
    color:black;
    background-color:black;
    border:0;
    width:100%;
}
.navbar-collapse{
    padding-left:10px;
    height:100%;
}
.navbar-collapse.collapse.show{
    width:100%;
    padding-left:10px;
}
.dropdown-menu{
    border-radius: 0;
    background-color: rgb(129, 129, 129);
    border:none;
}
#nav-link{
    color:red;
}
.navbar-nav > .active {
    color:black;
    transition: 0.3 ease background-color;
}
.navbar-nav > .active > a > hr {
    display:flex;
}
body{
    background-color: rgb(17,17,17);
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
#blurb{
    min-height: fit-content;
    height: 90vh;
    max-height:90vh;
    scroll-snap-align:end;
    overflow: hidden;
}
#blurb>p{
    font-size: 2em;
}
#blurb>img{
    width:100%;
    height:40%;
    transform: scale(1.2,1);
    transform-origin: center;
    position: relative;
    z-index: 0;
}
#resume{
    display:inline-block;
    width:100%;
    height:fit-content;
    overflow:hidden;
    scroll-snap-align: start;
    padding-top:10vh;
}
#portfolio{
    height: 90vh;
    width:100%;
    scroll-snap-align: end;
}
#exp{
    position:relative;
    margin-bottom:10px;
}
#skills{
    position:relative;
    height:42%;
}
.card-title{
    display:inline-block;
}
.card-date{
    display:inline-block;
    float:right;
    vertical-align:middle;
    color:rgb(78, 78, 78);
    font-size: 0.8em;
    margin-bottom: 0px;
    margin-top:10px;
}
.cards{
    display: grid;
    width:100%;
    height:40%;
    row-gap: 30px;
    column-gap:70px;
    grid-template-columns: 250px auto auto;
    grid-template-rows: auto auto;
}
.card-subtitle,
.card-date{
    color:black !important;
}
.cards>h2{
    align-self: center;
    
}

.card{
    color:black;
    background-color: rgb(127,127,127);
    width:100%;
    max-width:600px;
    height:100%;
    max-height:306.6px;
    border-radius: 0;
}
#prof-header{
    grid-column:1;
    grid-row:1;
}
#prof-card1{
    grid-column:2;
    grid-row:1;
}
#prof-card2{
    grid-column:3;
    grid-row:1;
}
#pers-header{
    grid-column:1;
    grid-row:2;
}
#pers-card1{
    grid-column:2;
    grid-row:2;
}
#pers-card2{
    grid-column:3;
    grid-row:2;
}
#skill-cards{
    display:inline-flex;
    position: relative;
    padding-top:2%;
    height:350px;
    z-index: 20;
    padding-left:2.8%;
    padding-right:2%;
    column-gap: 20px;
}
.skill-card{
    position: relative;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right:15px;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(10px);
    background:rgba(17,17,17,80%);
    height:80%;
    border-radius:0%;
    /*min-width: 30%;*/
}

.skill-card>h3{
    color:white;
    text-align: center;
    position: relative;
    vertical-align: middle;
    top: 45%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    
}
.skill-card>img{
    opacity: 30%;
    position:absolute;
    width:100%;
    height:auto;
    min-height:100%;
    max-height:100%;
}
#hard>img{
    max-width: 500px;
}

.skills-expand{
    color:white;
    list-style-position: inside;
    opacity: 0;
    font-size: small;
    font-weight: 600;
    text-align: left;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-indent: -16px; /* key property */
    margin-left: 20px; /* key property */
    z-index: 2;
}
.skills-expand>li{
    margin-bottom:10px;
}
.skill-card:hover{
    transform: scale(1.1,1.2);
    transform-origin:center;
    transition-duration: 0.5s;
    background-color: rgba(0, 0, 0, 1);
}
.skill-card:hover>.skills-expand{
    opacity: 100;
    transition-delay:0.5s;
    transition-duration: 0.3s;
}
.skill-card:hover>h3{
    display:none;
    transition-duration: 1s;
}

.btn{
    float:left;
    display:inline;
    margin-left:2px;
    right:0%;
}
.form-control{
    float:left;
}

.form-inline{
    display:inline-flex;
}
#content{
    background-color:rgb(17,17,17);
    margin-top: 5%;
    margin-left: 0%;
    margin-right:0%;
    padding-right:0%;
    padding-left:1%;
    position:absolute;
    height:100%;
    width:98%;
    
}
.navbar-header{
    margin-left:5px;
    margin-bottom: 10px;
}
.navbar-toggler{
    border: black;
}
.nav-item{
    /*margin-right:40px;*/
    padding-right:20px;
    padding-left:20px;
}
.nav-link{
    color:black;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    width:200%;
    max-height : 100px;
}
.d-block{
    width:40%;
}
#search-form{
    display:none;
}
#lang-select{
    color:grey;
    list-style: none;
    right:2%;
    position:relative;
    display:inline-block;
}
.container-fluid{
    position: -webkit-sticky; /* Safari */
    position:fixed;
    z-index: 2000;
    background-color: white;
    height:fit-content;
    padding-left: 0;
    padding-right: 0;
}
nav{
    display:flex;
    font-size:2em;
    background-color: white;
    height:7vh;
}
#lang-decoy{
    opacity:0;
}



#carouselExampleIndicators{
    position:relative;
}
.carousel>.carousel-control-prev,
.carousel>.carousel-control-next{
    width:40px;
    height:40px;
    border-radius: 90%;
    position:absolute;
    top:40%;

}


.carousel:hover>.carousel-control-prev,
.carousel:hover>.carousel-control-next{
    background-color: grey;
    opacity:80%;
    transition:background-color 1.1s;
}

#img-slides{
    height: 300px;
    object-fit:cover;
}
.slide-desc{
    position:absolute;
    opacity:0%;
    background-color:grey;
    color:white;
    padding-left:25px;
    padding-bottom:5px;
    bottom:0px;
    width:100%;
    height:fit-content;
}

.carousel:hover>.carousel-inner>.carousel-item>.slide-desc{
    opacity:90%;
    transition:opacity 1.1s;
}
ul{
    padding-left:0;
}

/*projects.html*/

.project-box{
    border-bottom:solid lightgrey 0.3px;
    display: grid;
    grid-template-rows: fit-content fit-content;
    padding: 3px 5px 2px 5px;
    height: fit-content;
}

.project-box>img{
    display: inline-block;
    height:100%;
    max-height:inherit;
    width:110px;
    max-width: 100px;
    min-width:100px;
    position:relative;
    margin-bottom:8px;
}

.project-box>.project-text{
    vertical-align: middle;
    display: inline;
    width:100%;
    overflow:hidden;
    word-break: break-all;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    word-break:break-word;
}
.project-link{
    text-decoration: none;
}
.project-box:hover{
    /*background-image: linear-gradient(to right,red,white,white,white);*/
    /*background-color: rgba(190, 88, 88,0.8);*/
    font-size: 16px;
    cursor:pointer;
    
}
.project-box:hover>img{
    height:100%;
    transform-origin:center;
    transition-duration: 600ms;
}
.project-box:hover>.project-text{
    height:100%;
    transform: translate(0,-3px);
    transform: scale(1.01,1);
    transform-origin:center;
    transition-duration: 600ms;
}
.project-expand{

}
.project-expand>.project-more{
    opacity:100%;
    height:fit-content;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.8s 0.3s, height 0.3s 0s ease ,display 0s 0s;
}
.project-expand>.project-more>*,
.project-expand>.project-more>*>*{
    height:fit-content;
    width:100%;
    opacity:100%;
}
.project-more>iframe{
    height:400px;
    display:none;
}
.project-expand>.project-more>iframe{
    display:inline;
    height:400px;
}
.project-expand>.project-more>a>button{
    height:50px;
    width:200px;
    border: solid white 1.5px;
    background-color: black;
    color:white;
    font-size: large;
    margin-bottom:5px;
}
.project-expand>.project-more>a>button:hover{
    border: black;
    background-color: white;
    color:black;
}
.project-expand>.project-more>a>button:active{
    border: solid white 1.5px;
    background-color: black;
    color:white;
}
#portfolio>h1{
    /*color:rgb(255, 62, 62);*/
}
.text-truncate{ /*adds elipses after 4 lines of text*/
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}
#p-list{
    margin:0% 20%;
}
li:last-child>.project-box{
    border-bottom:none;
}
#p-name{
    font-weight: 580;
    font-size: larger;
}
#p-desc{
    display:inline;
}
.project-more{
    opacity:0%;
    width:0%;
    height:0px;
}
.project-more>*,
.project-more>*>*{
    height:0px;
    width:0px;
    opacity: 0;
}

#p-expand + #p-desc{
    overflow:hidden;
    transition:all .3s ease;
}

#p-expand:checked + #p-desc{
    max-height:400px;
}

.project-table{
    width:100%;
}
.project-row{
    color:teal;
}
#home-not-current{ /*to style the header for the current page when it is not the home page*/
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: grey;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#navbar-current{
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    margin-right:0px;
}

#collapse-current{
    display:none;
}
/*project box hover*/


@media only screen and (max-width:1640px){
    #blurb{
        min-height:fit-content;
    }
    #resume{
        min-height:fit-content;
    }
    #portfolio{
        min-height:fit-content;
        position: relative;
    }
}
/*
@media only screen and (max-width:1316px){
    #skill-cards{

        
    }
    #content{
        margin-left:0px !important;
        margin-right:0px !important;
        padding:0 0 0 0;
        width:100%;
    }
    #resume>h3{
        color:red;
    }
    .skill-card:hover{
        transform: scale(1.1,1.5);
        transform-origin: top;

    }
    #skill-cards{
        min-height: fit-content;
    }
}
*/
@media only screen and (max-width:1100px){
    p{
        font-size: 1.5em !important;
    }

    .card{
        width:300px;
        height:230px;
    }
    .card-body>p{
        font-size: 0.8em !important;
    }
    #prof-header{
        grid-column:1;
        grid-row:1;
    }
    #prof-card1{
        grid-column:1;
        grid-row:2;
    }
    #prof-card2{
        grid-column:1;
        grid-row:3;
    }
    #pers-header{
        grid-column:2;
        grid-row:1;
    }
    #pers-card1{
        grid-column:2;
        grid-row:2;
    }
    #pers-card2{
        grid-column:2;
        grid-row:3;
    }
    .intro-box{
        margin-top:70px;
        padding-top: 0;
        width:90%;
        margin-left:5%;
    }
    .intro-box>h1{
        margin-top: 0;
    }
}
@media only screen and (max-width:992px){
    #soft:hover,#misc:hover{
        width:150%;
    }
}
@media only screen and (max-width:890px){
    #soft:hover,#misc:hover{
        width:230%;
    }
    .intro-box{
        padding-top: 0;
    }
}
/* For mobile phones: */
@media only screen and (max-width: 768px) {
    html{
        scroll-snap-type: x mandatory;
    }
    
    #content {
    width: 100%;
    height:90%;
    margin-left:0;
    margin-right:0;
    margin-top:10vh;
    }
    .navbar-collapse{
        background-color: rgb(129, 129, 129);
        height:max-content;
        margin-top: 5px;
    }
    .navbar-nav > .active > a{
        color:white;
    }
    .navbar-nav > .active > a > hr{
        display:none;
    }
    hr{
        display: inline;
        opacity: 0;
    }
    #blurb{
        height:fit-content;
        overflow-y:visible;

    }
    #blurb>p{
        height:max-content;
        overflow: visible;
    }
    .intro-box>img{
        width:100%;
        max-width:480px;
        float:none;
    }
    .intro-text{
        min-height: fit-content;
        overflow: visible;
    }
    #resume{
        height:fit-content;
        padding-top: 0px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img{
    width:100%;
    max-height : 50px;
    }
    #collapse-current{
        display:flex;
    }
    #p-list{
        margin:5% 0;
    }
    .project-box{
        /*margin-top:15px;*/
        border-bottom:solid lightgrey  0.3px;
        display: flex;
        padding:5px;
    }
    
    .project-box>img{
        display: inline-block;
        height:100%;
        max-height:inherit;
        width:100px;
        max-width: 100px;
        min-width:100px;
        position:relative;
        margin-bottom:8px;
    }
    .project-text{
        height: fit-content;
        margin-top: 0px !important;
        width:100%;
    }
    
    .project-box>div{
        opacity:100;
    }
    .project-expand{
        max-height:fit-content;
    }
    #skills{
        align-items: center;
    }
    #skill-cards{
        display:inline;
        
        width: 80% !important;
        max-width:80% !important;
        z-index: 200;
    }
    .skill-card{
        margin-left:1%;
        margin-bottom:15px;
        min-height:170px;
        height: fit-content;
        width:98%;
        background-color: rgba(127,127,127,100%)
    }
    .skill-card>h3{
        font-weight:700;
        top:10px;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
        vertical-align: middle;
    }
    .skill-card>ul{
        font-size: medium;
        top: 15px;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    .skills-expand{
        display: inline;
        opacity: 100%;
    }
    .skill-card:hover{
        transform: scale(1.0,1.0001);
        transform-origin:center;
        transition-duration: 0.5s;
        width:90% !important;
    }
    .project-expand{
        display:grid;
        grid-template-columns: auto auto;
    }
    .project-expand>.project-text{
        width:100%;
        grid-row:1;
    }
    .project-expand>.project-more{
        width:100%;
        grid-row:2;
    }
    .project-expand>.project-more>iframe{
        height:250px;
    }
}

@media only screen and (max-width:626px){
    p{
        font-size: 1.5em !important;
    }
    .cards{
        display: inline !important;
    }
    .card{
        width:95%;
        height:auto;
        margin-bottom:15px;
        margin-left:2.5%;
    }
    .skill-card{
        margin-left:2.5%;
        width:95%;
    }
    .skill-card:active{
        transform: scale(1.05,1.05);
        transform-origin:center;
        transition-duration: 0.5s;
        
    }
    .project-box{
        min-height: fit-content;
        height: fit-content;
    }
    .cards>h2{
        margin-left:2%;
    }
}
@media only screen and (max-width:543px){
    .intro-box>img{
        float:none;
    }
}