{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jules Christian Mbende Bong</title>

        <!--My css file-->
        <link href="{%static 'main/styles.css'%}?{% now 'U' %}" rel="stylesheet">

        <!--My JS entry bundle compiled using react (nodeJS)-->
        <script type="module" src="{%static 'assets/main.js' %}"></script>

        
        <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">  -->

        <!--Meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width. initial-scale=1.0">

    </head>
    <body onload="ytEmbed()">
        <!--react mount point-->
        <div id="react-root"></div>

        

    <!--My javascript file-->
    <script src="{%static 'main/script.js'%}?{% now 'U' %}"></script>
    </body>
</html>